header{
    background:-webkit-linear-gradient(var(--ndColor), var(--ndColorGr);
    display:flex;
    justify-content:space-between;
    padding:1rem var(--paddingLR) 1rem 10px;
    position:fixed;
    z-index:2;
    width:calc(100% - var(--paddingLR));
    align-items:center;
}
