.text{
    margin-bottom:2rem;
    width: 100%;
}
.textSubtitle{
    margin-bottom:0.8rem;
    text-transform:capitalize;
    font-weight: 700;
}
.textTitle{
    width:max-content;
    letter-spacing:10px;
    background:-webkit-linear-gradient(0deg,var(--rdColor),var(--rdColor2));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-transform:uppercase;
}
.textContent{
    line-height:1.2;
    margin-bottom: 1.5rem;
    font-weight:400;
}
.textContent div > img{
    transform: scale(2);
    margin: 30px;
}